<div class="profile-container">

  {% if site.author.name %}
  <img class="avatar" src="/public/profile.png" alt="profile picture" /> {% endif %} {% if site.author.name %}
  <h2 class="uname">{{ site.author.name }}</h2>
  {% endif %} 
  {% if site.description %}
  <h3 class="tagline">{{ site.description }}</h3>
  {% endif %}
  {% if site.author.role %}
  <h3 class="role">{{ site.author.role }}</h3>
  {% endif %}
</div>
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    {% if site.author.email %}
    <a href="mailto:{{ sidebar.email }}">
    <li class="email">
      <i class="fas fa-envelope"></i>
    </li>
    </a>
    {% endif %} 
    {% if site.author.phone %}
    <li class="phone">
      <a href="tel:{{ site.author.phone }}"><i class="fas fa-phone"></i></a>
    </li>
    {% endif %} {% if site.author.linkedin %}
    <li class="linkedin">
      <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
    </li>
    {% endif %} {% if site.author.github %}
    <li class="github">
      
      <a href="http://github.com/{{ site.author.github }}" target="_blank"><i class="fab fa-github"></i></a>
    </li>
    {% endif %} {% if site.author.twitter %}
    <li class="twitter">
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    {% endif %} {% if site.author.stackoverflow %}
    <li class="stack-overflow">
      <a href="https://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank"><i class="fab fa-stack-overflow"></i></a>
    </li>
    {% endif %}
  </ul>
</div>